:root {
    /* --dark: */
    /* --darker: */
    --darkest: #000;

    --clr-theme-blue: #9ecee4;
    --clr-theme-darker: #5d7a84;

    /* --light: */
    /* --lighter: */
    --lightest: #e6f3ff;

    --ff-cursive:  nautica, cursive;
    --ff-serif:  garamond-premier-pro, serif;

    --fs-xl: clamp(3rem, 3vw + .5rem, 10rem);
    --fs-600: 300;
    --fs-400: clamp(1.6rem, 1rem, 8rem);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--lightest);
    color: var(--darkest);
}

p {
    font-variant: small-caps;
}

.container {    
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding-top: 200px; */
}

.container::before {
    content: '';
    z-index: -1;
    height: 200px;
    width: 10em;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    background-image: url("../images/background.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 10em;
}

.container::after {
    content: '';
    z-index: -2;
    height: 200px;
    width: 10em;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../images/background.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 10em;
}

.container h1 {
    display: inline-block;
    font-size: var(--fs-xl);
    font-family: var(--ff-cursive);
    font-weight: 400;
    color: var(--darkest);
    text-align: center;
}

.container p {
    font-family: var(--ff-serif);
    font-size: var(--fs-400);
    text-align: center;
}

p.date {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.menu {
    font-size: calc(var(--fs-400) * 0.8);
    letter-spacing: .075em;
}

ul li {
    display: inline;
    padding: 0.25em 0.75em;
}

a {
    text-decoration: none;
    font-variant: small-caps;
    color: var(--darkest);
}

.home img {
    margin-top: 3rem;;
}

.img {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.qa p {
    font-variant: normal;
}